<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File</title>
  </head>
  <body>
    <h2>File details :</h2>
    <div>Name : <%= file.name %></div>
    <div>Size : <%= (file.size / 1024).toFixed(2) %> KB</div>
    <div>Upload time : <%= new Date(file.createdAt).toLocaleString() %></div>
    <a href="/files/<%= file.id %>/download"><button>Download</button></a>
  </body>
</html>
