<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folders</title>
  </head>
  <body>
    <h2>Folders : </h2>
    <% if (folders.length === 0) { %>
      <p>No folders yet.</p>
    <% } else { %>
    <ul>
      <% folders.forEach((folder) => { %>
        <li>
          <%= folder.name %>
          <form action="/folders/<%= folder.id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= folder.name %>" required />
            <button type="submit">Rename</button>
          </form>          
          <form action="/folders/<%= folder.id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>        
        </li>
      <%})%>
    </ul>
    <% } %>
    <h2>New folder : </h2>
    <form action="/folders" method="POST">
      <fieldset>
        <legend>New folder</legend>
        <label for="name">Name : </label>
        <input type="text" name="name" id="name" required>
        <button type="submit">New folder</button>
      </fieldset>
    </form>
  </body>
</html>
