<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>Home</h2>
    <% if (!name) { %>
      <div>No one is logged in.</div> 
      <a href="/signup"><button>Sign up</button></a>
      <a href="/login"><button>Login</button></a>
    <% } else {  %>
      <div>User : <%= name %></div>     
      <a href="/logout"><button>Logout</button></a>
      <a href="/folders"><button>Folders</button></a>
    <% } %>
  </body>
</html>
